* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img, main img{
    max-width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
}

a:hover,html button:hover{
    background: #ff8f8f;
}

div.container {
    width: 89.1%;
    margin: auto;
}

main {
    padding-bottom: 165px;
}

div.all {
    background-image: url(images/all.png);
    background-repeat: no-repeat;
    padding: 200px 0;
    text-align: center;
    background-position: center;

}

main h2 {
    margin: 88px 0 45px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

div.all h3 {
    background-image: url(images/backh3.png);
    background-position: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #3A3C42;
    padding: 40px 50px;
    display: inline-block;
}

div.boyGirl {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    max-width: 1550px;
    margin: 0 auto 36px;
}

div.boyGirl div {
    width: 49.3%;
    height: 556px;
    text-align: left;
}

div.item1 {
    background-image: url(images/boy.png);
    background-repeat: no-repeat;
    background-position: center;
}

div.item1 p {
    margin: 26px 0 0 30px;
}

div.item2 {
    background-image: url(images/girl.png);
    background-repeat: no-repeat;
    background-position: center;
}

div.item2 p {
    margin: 18px 0 0 23px;
}

div.location h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

div.location div {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 170px;
}

div.location div.mondstate {
    background-image: url(images/mondstate.png);
}

div.location div.liue {
    background-image: url(images/liue.png);
}

div.location div.inatzuma {
    background-image: url(images/inatzuma.png);
}

div.location div.mondstate h4 {
    padding: 135px 0 108px;
}

div.location div.liue h4 {
    padding: 113px 0 130px;
}

div.location div.inatzuma h4 {
    padding: 112px 0 131px;
}

div.location div.liue {
    margin: 68px 0 67px;
}

div.popular {
    margin-top: 101px;
}

div.characters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.character{
    margin-bottom: 49px;
}

div.popular h3 {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #3A3C42;
    text-align: left;
}

div.popular p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #3A3C42;
}

div.item1, div.item2 {
    width: 50%;
}

footer {
    background: #3A3C42;
}

footer .container {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

footer h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

}

footer li {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

footer .img-foot {
    padding-top: 68px;
}

footer div.ul-wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

div.text-ul {
    margin: 58px 13% 0 4%;
    width: 48.6%;
}

footer div.text {
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

footer div.production {
    margin-top: 71px;
    margin-bottom: 64px;
    max-width: 104px;
}

footer div.production :first-child {
    margin-bottom: 113px;
}

.description {
    margin: 91px auto 10px;
    display: flex;
    width: 70.7%
}

footer .m6-5 {
    margin: 6px 0 5px;
}

footer .m8 {
    margin: 8px 0;
}

footer .m6-15 {
    margin: 6px 0 15px;
}

footer .m15 {
    margin: 15px 0;
}

footer .m6 {
    margin: 6px 0;
}

footer .m6t {
    margin-top: 6px;
}

footer div.ul {
    text-align: left;
}

/* 5 */

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
}

ul li {
    list-style: none;
    cursor: pointer;
}

div.container {
    max-width: 1540px;
    margin: auto;
}

header {
    background-image: url(images/eventsbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

header nav ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}

div.nav-li {
    display: flex;
    width: 48.7%;
    justify-content: space-between;
    margin-right: 4.3%;
}


.intro {
    color: #3A3C42;
    font-weight: 500;
    position: absolute;
    left: 360px;
    top: 198px;
    font-size: 36px;
}

header nav a.main-logo {
    content: url(images/Rectangle-144.svg);
}

/* v */
div.smallmenu {
    display: none;
}

/* v */
div.second-footer {
    display: none;
}

/* v */
div.third-footer {
    display: none;
}

/* v */
div.smallmenu button {
    background: none;
    border: none;
}

/* v */
div.container.special {
    display: none;
}

/* 5 */
footer {
    background: #3A3C42;
}

footer .container {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}



footer p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

footer .img-foot {
    padding-top: 68px;
}

footer div.ul-wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
}

div.text-ul {
    margin: 58px 13% 0 4%;
    width: 48.6%;
}

div.events.blocks img {
    max-width: auto;
}

.region-back-pos {
    background-position: center;
}

footer div.text p {
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

footer div.production {
    margin-top: 71px;
    margin-bottom: 64px;
    max-width: 104px;
}

footer div.production :first-child {
    margin-bottom: 113px;
}

.description {
    margin: 91px auto 10px;
    display: flex;
    width: 70.7%
}

footer div.ul {
    text-align: left;
}

.ul h5 {
    margin-bottom: 6px;
}

.ul p {
    margin-bottom: 10px;
}

/* v */
div.smallmenu {
    display: none;
}

/* v */
div.second-footer {
    display: none;
}

/* v */
div.third-footer {
    display: none;
}

/* v */
div.smallmenu button {
    background: none;
    border: none;
}

/* v */
div.container.special {
    display: none;
}

/* v */footer h5 a{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

a {
    text-decoration: none;
}

/* 55555555555555555555555555555555555555 */
div.another-nav-li{
    position: absolute;
    right: 15px;
    top: 43px;
    background-color: rgb(0, 45, 87);
    padding: 10px;
    border-radius: 15px;
    display: none;
    line-height: 42px;
}

div.another-nav-li li{
    text-align: left;
    list-style: none;
    cursor: pointer;
    border-bottom:2px solid #ffffff ;
}

div.another-nav-li li a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
/* 55555555555555555555555555555555555555 */

@media(max-width:1728px) {

    /* v */
    div.container {
        max-width: 89.1%;
    }
}

@media(max-width:1440px) {
    

    /* v */
    div.second-footer{
        display: block;
    }

    /* v */
    div.second-footer div,
    div.third-footer div {
        display: flex;
    }

    /* v */
    div.second-footer div section,
    div.third-footer div section {
        width: 34.7%;
        margin-left: 9.6%;
    }

    p.copyright {
        margin-bottom: 13.9px;
    }

    footer {
        padding: 41.03px 0 51px;
    }

    div.only-images img.need-margin {
        margin-right: 6.2%;
    }

    div.second-footer div section p,
    div.third-footer div section p {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    div.third-footer div section p {
        text-align: left;
        width: 290px;
    }

    div.comp-description {
        padding: 0 0 23.4px;
    }

    /* v */
    div.container {
        max-width: 88%;
    }

    div.time-none {
        display: none;
    }
}

@media(max-width:1400px) {

    /* v */
    .container {
        max-width: 94%;
    }
}


@media(max-width:1260px) {

    /* v */
    header nav a {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo1440.png);
    }

    /* v */
    footer,
    html,
    header,
    main,
    body {
        width: 100%;
    }
}

@media(max-width:1000px) {

    /* v */
    div.smallmenu {
        display: block;
    }



    /* v */
    div.nav-li {
        display: none;
    }

    /* v */
    div.third-footer div section p {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    div.second-footer {
        display: none;
    }

    div.third-footer {
        display: block;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo1000.png);
    }
}

@media(max-width:768px) {

    /* v */
    header nav a.main-logo {
        content: url(images/logo768.png);
    }
}


@media(max-width:480px) {

    /* v */
    div.third-footer div section p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    footer {
        padding: 14px 0 23px;
    }

    div.container.special section p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        max-width: 81%;
        text-align: left;
    }

    div.footer-images {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    div.footer-images:first-child {
        margin-bottom: 10px;
    }

    div.container {
        max-width: 92.5%;
    }

    div.third-footer {
        display: none;
    }

    div.container.special {
        display: flex;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo480.png);
    }
}

@media(max-width:430px){
    div.boyGirl{
        flex-direction: column;
    }

    div.boyGirl div{
        width: 100%;
    }

    div.item1{
        margin-bottom: 20px;
    }
}

@media(max-width:360px) {

    /* v */
    header nav a.main-logo {
        content: url(images/logo360.png);
    }
}