*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header img, main img{
    max-width: 100%;
}

.all {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

a:hover,html button:hover{
    background: #ff8f8f;
}

.allImgCharacters{
    width: 500px;
    max-height: 940px;
}

.allDivCharacters p{
    padding: 41px 0 38px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #3A3C42;
}

.characters{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #3A3C42;
    padding-bottom: 80px;
    padding-top: 87px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
}

ul li {
    list-style: none;
    cursor: pointer;
}

div.container {
    max-width: 1540px;
    margin: auto;
}

header {
    background-image: url(images/eventsbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

header nav ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}

div.nav-li {
    display: flex;
    width: 48.7%;
    justify-content: space-between;
    margin-right: 4.3%;
}


.intro {
    color: #3A3C42;
    font-weight: 500;
    position: absolute;
    left: 360px;
    top: 198px;
    font-size: 36px;
}

header nav a.main-logo {
    content: url(images/Rectangle-144.svg);
}

/* v */
div.smallmenu {
    display: none;
}

/* v */
div.second-footer {
    display: none;
}

/* v */
div.third-footer {
    display: none;
}

/* v */
div.smallmenu button {
    background: none;
    border: none;
}

/* v */
div.container.special {
    display: none;
}

/* 5 */
footer {
    background: #3A3C42;
}

footer .container {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}



footer p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

footer .img-foot {
    padding-top: 68px;
}

footer div.ul-wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
}

div.text-ul {
    margin: 58px 13% 0 4%;
    width: 48.6%;
}

div.events.blocks img {
    max-width: auto;
}

.region-back-pos {
    background-position: center;
}

footer div.text p {
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

footer div.production {
    margin-top: 71px;
    margin-bottom: 64px;
    max-width: 104px;
}

footer div.production :first-child {
    margin-bottom: 113px;
}

.description {
    margin: 91px auto 10px;
    display: flex;
    width: 70.7%
}

footer div.ul {
    text-align: left;
}

.ul h5 {
    margin-bottom: 6px;
}

.ul p {
    margin-bottom: 10px;
}

/* v */
div.smallmenu {
    display: none;
}

/* v */
div.second-footer {
    display: none;
}

/* v */
div.third-footer {
    display: none;
}

/* v */
div.smallmenu button {
    background: none;
    border: none;
}

/* v */
div.container.special {
    display: none;
}

/* v */footer h5 a{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

a {
    text-decoration: none;
}

/* 55555555555555555555555555555555555555 */
div.another-nav-li{
    position: absolute;
    right: 15px;
    top: 43px;
    background-color: rgb(0, 45, 87);
    padding: 10px;
    border-radius: 15px;
    display: none;
    line-height: 42px;
}

div.another-nav-li li{
    text-align: left;
    list-style: none;
    cursor: pointer;
    border-bottom:2px solid #ffffff ;
}

div.another-nav-li li a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
/* 55555555555555555555555555555555555555 */

/* 5 */
@media(max-width:1728px) {

    /* v */
    div.container {
        max-width: 89.1%;
    }
}

@media(max-width:1684px){
    .all{
        justify-content: space-around;
    }
}

@media(max-width:1440px) {
    

    /* v */
    div.second-footer{
        display: block;
    }

    /* v */
    div.second-footer div,
    div.third-footer div {
        display: flex;
    }

    /* v */
    div.second-footer div section,
    div.third-footer div section {
        width: 34.7%;
        margin-left: 9.6%;
    }

    p.copyright {
        margin-bottom: 13.9px;
    }

    footer {
        padding: 41.03px 0 51px;
    }

    div.only-images img.need-margin {
        margin-right: 6.2%;
    }

    div.second-footer div section p,
    div.third-footer div section p {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    div.third-footer div section p {
        text-align: left;
        width: 290px;
    }

    div.comp-description {
        padding: 0 0 23.4px;
    }

    /* v */
    div.container {
        max-width: 88%;
    }

    div.time-none {
        display: none;
    }
}

@media(max-width:1400px) {

    /* v */
    .container {
        max-width: 94%;
    }
}


@media(max-width:1260px) {

    /* v */
    header nav a {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo1440.png);
    }

    /* v */
    footer,
    html,
    header,
    main,
    body {
        width: 100%;
    }
}

@media(max-width:1136px){
    .all{
    display: block;
    }
}

@media(max-width:1000px) {

    /* v */
    div.smallmenu {
        display: block;
    }



    /* v */
    div.nav-li {
        display: none;
    }

    /* v */
    div.third-footer div section p {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    div.second-footer {
        display: none;
    }

    div.third-footer {
        display: block;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo1000.png);
    }
}

@media(max-width:768px) {

    /* v */
    header nav a.main-logo {
        content: url(images/logo768.png);
    }
}


@media(max-width:480px) {
    h1.characters{
        font-size: 35px;
    }

    .allDivCharacters p{
        font-size: 25px;
    }
    /* v */
    div.third-footer div section p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    footer {
        padding: 14px 0 23px;
    }

    div.container.special section p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        max-width: 81%;
        text-align: left;
    }

    div.footer-images {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    div.footer-images:first-child {
        margin-bottom: 10px;
    }

    div.container {
        max-width: 92.5%;
    }

    div.third-footer {
        display: none;
    }

    div.container.special {
        display: flex;
    }

    /* v */
    header nav a.main-logo {
        content: url(images/logo480.png);
    }
}

@media(max-width:360px) {

    /* v */
    header nav a.main-logo {
        content: url(images/logo360.png);
    }
}